@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  background-color: #26335d;
  font-family: "Montserrat", sans-serif;
}

.buttons,
.sign-btn {
  color: white !important;
  background-color: #8d5cf6 !important;
}

.buttons:hover {
  background-color: transparent !important;
  color: #8d5cf6 !important;
  border: 1px solid #8d5cf6 !important;
  transition: all 0.5s;
}

.btn-hovers:hover {
  border: 1px solid white !important;
  transition: all 0.8s;
}

.btn-hovers:hover .icon{
  margin-left: 0.15rem !important;
  transition: all 0.3s;
}

.sign-btn:hover .icon{
  margin-left: 1rem!important;
  transition: all 0.3s;
}

