@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #26335d;
}

.Main-inner {
  font-family: "Montserrat", sans-serif;
}

.buttons,
.sign-btn {
  color: white !important;
  background-color: #8d5cf6 !important;
}

.buttons:hover {
  background-color: transparent !important;
  color: #8d5cf6 !important;
  border: 1px solid #8d5cf6 !important;
  transition: all 0.5s;
}

.btn-hovers:hover {
  border: 1px solid white !important;
  transition: all 0.8s;
}

.btn-hovers:hover .icon {
  margin-left: 0.15rem !important;
  transition: all 0.3s;
}

.sign-btn:hover .icon {
  margin-left: 1rem !important;
  transition: all 0.3s;
}

.see-more {
  color: #8d5cf6 !important;
  font-weight: bold !important;
  text-decoration: none !important;
  transition: all 0.3s;
  font-size: 0.8rem !important;
  margin-top: 2rem;
  border: 1px solid #8d5cf6 !important;
}

.see-more i {
  margin-left: 0.5rem;
}

.see-more:hover {
  color: white !important;
  border: 1px solid white !important;
  transition: all 0.3s;
}

.see-more:hover i {
  margin-left: 1rem;
  transition: all 0.3s;
}
